<section class="w-75 m-auto my-5 bg-main-light p-3 shadow">
  <h3>Login Now :</h3>
  <form [formGroup]="loginForm" (ngSubmit)="handelForm()">
    <div class="form-item my-3">
      <input type="email" class="form-control" formControlName="email" placeholder="Enter Your email">
      <div *ngIf="loginForm.get('email')?.errors && loginForm.get('email')?.touched" class="alert alert-danger">
        <p class="small m-0" *ngIf="loginForm.get('email')?.getError('required')">Email is Required</p>
        <p class="small m-0" *ngIf="loginForm.get('email')?.getError('email')">Email Invalid Format</p>
      </div>
    </div>
    <div class="form-item my-3">
      <input type="password" class="form-control" formControlName="password" placeholder="Enter Your password">
      <div *ngIf="loginForm.get('password')?.errors && loginForm.get('password')?.touched" class="alert alert-danger">
        <p class="small m-0" *ngIf="loginForm.get('password')?.getError('required')">Password is Required</p>
        <p class="small m-0" *ngIf="loginForm.get('password')?.getError('pattern')">Password Invalid Format</p>
      </div>
    </div>
    <p *ngIf="msg" class="my-3 alert alert-danger small m-0">{{msg}}</p>
    <div class="d-flex justify-content-between align-items-center">
      <button [disabled]="loginForm.invalid" class="btn bg-main text-white">Login <i *ngIf="isLoading"
          class="fas fa-spin fa-spinner"></i></button>
      <a routerLink="/forgetpass" class="link-primary">Forgot Password</a>
    </div>
  </form>
</section>
