.hov1 {
  &:hover {
    color: red !important;
  }
}


.hov2 {
  &:hover {
    color: rgb(59, 88, 236) !important;
  }
}

.hov3 {
  &:hover {
    color:#0aad0a!important;
  }
}

.hov4 {
  &:hover {
    color: rgb(59, 88, 236) !important;

  }
}

.hov5{
  &:hover{
    color: red !important;
  }
}
